<h2>お題登録</h2>
<%= render "layouts/error", resource: @vote %>
<%= form_with model: @vote, local:true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body%>
  </div>
  <%= f.label :"お題" %>
  <%= f.fields_for :topics do |topic| %>
    <div class="margin-top-xs">
      <%= topic.text_field :body %>
    </div>
  <% end %>

  <div class="actions row margin-top-xs">
    <%= f.submit class: 'btn btn-primary col-xs-12' %>
  </div>
  <% end %>
