<h2>お題登録</h2>
<%= form_with model: @vote, local:true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body%>
  </div>
  
  <%= f.fields_for :topics do |topic| %>
    <div>
      <%= f.label :"お題" %>
      <div><span>1</span><%= topic.text_field :body %></div>
    </div>
  <% end %>
  
  <div class="actions row">
    <%= f.submit class: 'btn btn-primary col-xs-12' %>
  </div>
  <% end %>
  