<h2>お題登録</h2>
<%= form_with model: book, local:true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body%>
  </div>
  <div>
    <%= f.label :topic %>
    <%= f.text_field :topic.body %>
  </div>
  <% end %>
  