<header>
  <nav class="navbar under-line">
    <div class="navbar-header col-sm-2">
      <h1><%= link_to "YourVote", root_path, class: "navbar-left logo" %></h1>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", user_path(current_user), class:'nav-logo margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "VOTE一覧", votes_path, class:'nav-logo margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "VOTE結果一覧", results_path, class:'nav-logo margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'nav-logo margin-top-xs margin-right-xs' %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path, class:'nav-logo btn margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "ログイン", new_user_session_path, class:'nav-logo btn margin-top-xs margin-right-xs' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>