<!DOCTYPE html>
<html>
  <head>
    <title>YourVote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>　　<!--gem 'gon'を使用するため-->
    <script src="https://d3js.org/d3.v5.min.js"></script> <!--d3.jsの記述-->
  </head>
  <body>
    <div class="container body-line">
      <div class="row">
        <div class="header-line">
          <%= render "layouts/header" %>
        </div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
        <footer></footer>
    </div>
  </body>
</html>
